<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>RateOverViews</title>
</head>
<body>
<wicket:panel>
    <!--<ul >-->
    <div>
        <h4 class="" wicket:id="title" style="margin: 2px; margin-left: 5px; min-width: 100px" />
        <div wicket:id="notifsWMC" >
            <div wicket:id="notifs">
                <div wicket:id="notif"/>
            </div>
        </div>
        <div wicket:id="morePanel" style="clear: both; display: block; text-align: center;">
            <div wicket:id="morePlaceHolder"/>
            <a wicket:id="moreButton" class=" btn green">
                <!--<wicket:message key="ShowMore"> </wicket:message>--> </a>
        </div>
    </div>
    <!--</ul>-->
</wicket:panel>
</body>
</html>