body{
	background-color: #CCC;
}
.bs-docs-container{
	background-color: rgba(250,250,250,.9);
	-webkit-box-shadow: 1px 0px 10px rgba(40, 40, 40, .2);
          box-shadow: 1px 0px 10px rgba(40, 40, 40, .2);
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 40px;
}
.navbar{
    border:none;
}
.navbar > .container{
	margin-left: auto;
	-webkit-transition: all .6s ease-out;
        -o-transition: all .6s ease-out;
          transition: all .6s ease-out;
	background: white;
  border-radius: 0px 0px 5px 5px;
}
.navbar-inverse > .container{
	background: transparent;
}
.navbar .sign-in-btn a{
	margin-right: 60px;
}
/*.big-width{
  width: 80% !important;
}
.notixe-first-img{
  width: 60%;
  -webkit-transition: all 4.6s linear;
        -o-transition: all 4.6s linear;
          transition: all 4.6s linear;
}*/
.navbar-inverse .sign-in-btn a{
	color : white !important;
	/*margin-right: 80px;*/
}
.navbar-inverse{
	-webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .1), 0 10px 10px rgba(0, 0, 0, .1);
          box-shadow: inset 0 2px 0 rgba(255, 255, 255, .1), 0 10px 10px rgba(0, 0, 0, .1);
    border: none;
    display: inline-block;
    background: #e3164e;
    background: linear-gradient(268deg, #e3164e, #7f1ba7, #841c39, #e993e7, #d27228);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3164e',endColorstr='#d27228',GradientType=1);
    background-size: 300% 300%;
    /*-webkit-animation: gradient 15s ease infinite;
    -moz-animation: gradient  15s ease infinite;
    -o-animation: Agradient  15s ease infinite;
    animation: gradient  15s ease infinite;*/
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
	margin-left: 0;
}
.navbar-inverse .navbar-brand{
	/*background-color:rgba(210,210,210,.7);
	background: #f6f6f6;
	color: #5a3db7;*/
  color: #fff !important;
  background-color: transparent !important;
}
.outlinebtn .outlinebtn-in{
  font-family:  'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  background: #f6f6f6;
  border: none;
  color: #5a3db7;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.navbar-inverse .outlinebtn:hover .outlinebtn-in {
  color: #fff;
  background: transparent;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 24%;
  }
  50% {
    background-position: 100% 77%;
  }
  100% {
    background-position: 0% 24%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 24%;
  }
  50% {
    background-position: 100% 77%;
  }
  100% {
    background-position: 0% 24%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 24%;
  }
  50% {
    background-position: 100% 77%;
  }
  100% {
    background-position: 0% 24%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 24%;
  }
  50% {
    background-position: 100% 77%;
  }
  100% {
    background-position: 0% 24%;
  }
}
.modal-body{
	padding: 0px;
}
.modal-dialog{
	margin: 100px auto;
}
.description{
	-webkit-transition: all .4s ease-out;
        -o-transition: all .4s ease-out;
          transition: all .4s ease-out;
  border-radius: 5px;
}
.descs:hover > .description{
	-webkit-box-shadow: inset 10px 10px 20px rgba(0, 0, 0, .2);
          box-shadow: inset 10px 10px 20px rgba(0, 0, 0, .2);
}
.descs > h3{
	font-weight: 300;
	-webkit-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
          transition: all .5s ease-out;
}
.descs > p {
	font-size: 18px;
}
.descs:hover > h3{
	color: #d27228;
}
.descs > h1{
  font-size: 70px;
  font-weight: 200;
}
strong{
	font-size: 20px;
	font-weight: 200;
	color: #d27228;
}
footer{
	border-top: 10px solid #d27228;
	padding: 30px;
	background-color: #FFF;
}
.jumbotron{
}
.jumbotron2{
  height: 750px;
  background-image: url("images/back.jpg");
  color: rgba(240,240,240,1);
  /*-webkit-animation: gradient 80s ease-in-out infinite;
    -moz-animation: gradient  80s ease-in-out infinite;
    -o-animation: Agradient  80s ease-in-out infinite;
    animation: gradient  80s ease-in-out infinite;*/
}
.jumbotron h3{
  margin: 30px;
  font-size: 40px;
  font-weight: 100;
}

.jojo{
  background: rgb(251,251,246);
  position: relative;
  margin-top: -15px;
  border-radius: 5px;
}

.subjojo{
  position: relative;
  background: rgba(20,20,24,.7);
  color: white;
  width: 98%;
  left: 1%;
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-top: -15px;
  margin-bottom: 50px;
}
.subjojo h3{
  margin: 0px;
  z-index: 2;
  font-weight: 100;
}
.sub{
  border-radius: 10px 10px 0 0;
  background-color: rgba(110,110,110,.6);
  padding: 10px;
  bottom: 0px;
  right:40%;
  margin-left: 30%;
  margin-right: 30%; 
}
a{
    -webkit-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
          transition: all .5s ease-out;
}
.sub a{
  text-decoration: none;
  color: rgba(200,200,200,.95);
}
.sub a:hover{
  text-decoration: none;
  color: rgba(250,250,250,1);
}

#learn-more-link{
  /*background-color: rgba(190,190,190,.6);*/
  /*background-color: rgba(255,255,255,1);
  -webkit-box-shadow: 0px 3px 0px rgba(245, 245, 245, 1),0px 7px 0px rgba(235, 235, 235, 1),0px 11px 0px rgba(225, 225, 225, 1),0px 15px 0px rgba(215, 215, 215, 1);
          box-shadow: 0px 3px 0px rgba(245, 245, 245, 1),0px 7px 0px rgba(235, 235, 235, 1),0px 11px 0px rgba(225, 225, 225, 1),0px 15px 0px rgba(215, 215, 215, 1);*/
          /*border-radius: 3px;*/
}
.sign-inn{
  background-color: rgba(260,260,260,.7);
}

.how-it-work{
  font-weight: 300 !important;
  -webkit-text-shadow:0px 6px 10px rgba(105, 105, 105, 1);
  text-shadow:0px 6px 10px rgba(105, 105, 105, 1);
}
