<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Facebook sharing information tags -->
    <meta property="og:title" content="*|MC:SUBJECT|*" />
    <title>*|MC:SUBJECT|*</title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="width: 100% !important;-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #FAFAFA">
<center>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="height: 100% !important;margin: 0;padding: 0;width: 100% !important;background-color: #FAFAFA"><tr><td align="left" valign="top" style="border-collapse: collapse">
        <!-- // Begin Template Preheader \\ -->
        <table border="0" cellpadding="10" cellspacing="0" width="600" id="templatePreheader" style="background-color: #FAFAFA"><tr><td valign="top" class="preheaderContent" style="border-collapse: collapse">

        </td>
        </tr></table><!-- // End Template Preheader \\ --><table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border: 1px solid #DDD;background-color: #FFF"><tr><td align="center" valign="top" style="border-collapse: collapse">
        <!-- // Begin Template Header \\ -->
        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color: #FFF;border-bottom: 0"><tr><td class="headerContent" style="border-collapse: collapse;color: #202020;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;padding: 0;text-align: center;vertical-align: middle">

            <!-- // Begin Module: Standard Header Image \\ -->
            <img src="LOGOLINK" style="max-width: 600px;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none" id="headerImage campaign-icon" mc:label="header_image" mc:edit="header_image" mc:allowdesigner="" mc:allowtext="" /><!-- // End Module: Standard Header Image \\ --></td>
        </tr></table><!-- // End Template Header \\ --></td>
    </tr><tr><td align="center" valign="top" style="border-collapse: collapse">
        <!-- // Begin Template Body \\ -->
        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody"><tr><td valign="top" class="bodyContent" style="border-collapse: collapse;background-color: #FFF">

            <!-- // Begin Module: Standard Content \\ -->
            <table border="0" cellpadding="20" cellspacing="0" width="100%"><tr><td valign="top" style="border-collapse: collapse">
                <div mc:edit="std_content00" style="color: #505050;font-family: Arial;font-size: 14px;line-height: 150%;text-align: left">
                    <h1 class="h1" style="color: #202020;display: block;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: center">Notixe</h1>
                    <h4 class="h4" style="color: #202020;display: block;font-family: Arial;font-size: 22px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left">TITLE</h4>
                    CONTENT
                </div>
            </td>
            </tr></table><!-- // End Module: Standard Content \\ --></td>
        </tr></table><!-- // End Template Body \\ --></td>
    </tr><tr><td align="center" valign="top" style="border-collapse: collapse">
        <!-- // Begin Template Footer \\ -->
        <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter" style="background-color: #FFF;border-top: 0"><tr><td valign="top" class="footerContent" style="border-collapse: collapse">

            <!-- // Begin Module: Standard Footer \\ -->
            <table border="0" cellpadding="10" cellspacing="0" width="100%"><tr><td colspan="2" valign="middle" id="social" style="border-collapse: collapse;background-color: #FAFAFA;border: 0">
                <div mc:edit="std_social" style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: center">
                     <a href="http://notixe.com">www.notixe.com</a> 
                </div>
            </td>
            </tr><tr><td valign="top" width="450" style="border-collapse: collapse">
                <div mc:edit="std_footer" style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: left">
                    ThisEmailIsFromNotixe
                    <br />
                    MailUnsubscribeNote1 <a href="UNSUBSCRIBELINK">MailUnsubscribeLinkText</a>MailUnsubscribeNote1
                </div>
            </td>
            </tr></table><!-- // End Module: Standard Footer \\ --></td>
        </tr></table><!-- // End Template Footer \\ --></td>
    </tr></table><br /></td>
    </tr></table></center>
</body>
</html>
